h1 {
	text-align: center;
}
#image {
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:300px;
}
.top {
	background-color:lightblue;
}
#link {
	color: #FF0000;
}
#link:hover {
	color: #00FF00;
}
